html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Work Sans Light", Tahoma, sans-serif; /*study how to get the right fonts to upload! */
}

hr {
  width: 75%;
  margin-left: 0;
}

h2 {
  text-align: center;
  color: black;
}

h3 {
  text-align: center;
  color: black;
}

p {
  line-height: 1.5;
  padding: 10px;
  color: black;
}

ul {
  font-size:17px;
  line-height: 2;
}

ol {
  font-size:17px;
  line-height: 2;
}

/* Test for Nav */
nav a:link { color: white; }
nav a:visited { color: rgb(161, 156, 156) }
nav a:hover { color: darkgray }
nav a:target { color: darkgray }

/* Test for Rest */
a:link { color: black; }
a:visited { color: rgb(77, 67, 67) }
a:hover { color: darkgray }
a:target { color: darkgray }

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left-block {
  display:inline-block;
  width: 75%;
  margin-right: auto;
}

.right-block {
  display:block;
  width: 75%;
  margin-left: auto;
  text-align: right;
}

.right-float{  
  float: right;
  height:auto;
  width: 20%;
  max-width: 300px;
  margin-right: 50;
}

header {
  background-color: black;
}

header h1 {
  margin: 0;
  color: white;
  font-family:  Arial, sans-serif;
  font-size:52px;
  text-align: center; 
  text-transform: uppercase;
  padding: 60px 0 20px 20px;
}

nav {
  color: white;
  font-family: "Work Sans Light", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}

footer {
  margin: 0;
  color: white;
  background-color: black;
  font-family:  "Work Sans Light", Arial, sans-serif;
  font-size:17px;
  text-align: center; 
  text-transform: uppercase;
  padding: 60px 0 20px 20px;
}

/*constrain the content to the middle of the page, give us a nice border*/
.wrapper {
background-color: white;
width: 80%;
margin: auto;
padding: 20px;
}