html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Work Sans Light", Tahoma, sans-serif;
}

h2,
h3 {
  text-align: center;
  padding: 15px;
}

p {
  line-height: 2.5;
  padding: 10px;
  color: black;
  font-size: larger;
}

ul {
  font-size: larger;
  line-height: 2.5;
}

ol {
  font-size: larger;
  line-height: 2.5;
}

/* Test for Nav */
nav a:link {
  color: white;
}
nav a:visited {
  color: rgb(161, 156, 156);
}
nav a:hover {
  color: darkgray;
}
nav a:target {
  color: darkgray;
}

header {
  background-color: black;
}

header h1 {
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 52px;
  text-align: center;
  text-transform: uppercase;
  padding: 60px 0 20px 20px;
}

nav {
  color: white;
  font-family: "Work Sans Light", Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;
}

footer {
  margin: 0;
  color: white;
  background-color: black;
  font-family: "Work Sans Light", Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  padding: 60px 0 20px 20px;
}

/*constrain the content to the middle of the page, give us a nice border*/
.wrapper {
  background-color: white;
  width: 95%;
  margin: auto;
  padding: 15px;
}
